@import url(./inputs.css);

/* userForm */

.userForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 46%;
  position: absolute;
  height: 90vh;
  right: 7%;
  /* top: 4.5%; */
}
.userNav {
  display: flex;
  justify-content: end;
  margin-block-start: 1vw;
  gap: 16px;
}

.userForm div {
  width: 100%;
  text-align: right;
  margin-bottom: 30vh;
}

.userForm > h2 {
  font-family: var(--myFirstFont);
  font-weight: 700;
  font-size: 3.6vw;
  color: var(--white);
  width: 60%;
  text-align: left;
  margin-top: auto;
  margin-bottom: 5%;
}

.userForm footer {
  font-family: var(--mySecondFont);
  font-size: 1.5vw;
  font-weight: 500;
  color: var(--white);
}
/* input form */

.inputForm {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: auto;
}

.inputForm input {
  padding: 8px 12px;
}
.inputForm div {
  margin: 0;
}

.inputForm p {
  font-family: var(--mySecondFont);
  font-size: 1.4vw;
  font-weight: 500;
  color: var(--white);
  margin-top: 6px;
}
.inputForm a {
  color: inherit;
  display: inline-block;
}

/* bookForm */
.bookForm form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookForm input,
.bookForm select,
.bookForm button {
  display: inline-block;
  width: 48%;
}
.bookForm input::placeholder,
.bookForm select::placeholder {
  font-size: 1.8vw;
}

.bookForm textarea {
  width: 100%;
}
